<!DOCTYPE html>
{% load static %}
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}"/>
    <link
            href = "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
            rel = "stylesheet"
    />
</head>
<body style = "background-image:url({% static 'images/travello.jpg' %})">
    <section>
    <div class = "registration-form">
        <h1>Registration Form</h1>
        <form action = " " method = "post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for = "username">Username</label>
                    </td>
                    <td>
                        <input class = "form__field"
                               type = "text"
                               name = "username"
                               id = "username"
                               autocomplete = "off"
                               required
                                       =
                        />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "first_name">First Name</label>
                    </td>
                    <td>
                        <input class = "form__field"
                               type = "text"
                               name = "first_name"
                               id = "first_name"
                               autocomplete="off"
                               required
                        />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "last_name">Last Name</label>
                    </td>
                    <td>
                        <input class = "form__field"
                               type = "text"
                               name = "last_name"
                               id = "last_name"
                               autocomplete="off"
                               required
                        />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "email">Email</label>
                    </td>
                    <td>
                        <input class = "form__field"
                               type = "email"
                               name = "email"
                               id = "email"
                               autocomplete="off"
                               required
                        />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "password">Password</label>
                    </td>
                    <td>
                        <input class = "form__field"
                               type = "password"
                               name = "password"
                               id = "password"
                               autocomplete="off"
                               required
                        />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "cpassword">Confirm Password</label>
                    </td>
                    <td>
                        <input class = "form__field"
                               type = "password"
                               name = "cpassword"
                               id = "cpassword"
                               autocomplete="off"
                               required
                        />
                    </td>
                </tr>
                <tr>
                    <td colspan = "2">
                        <button type = "submit">Add User</button>
                    </td>
                </tr>
            </table>
        </form>
        {% for msg in messages %}
        <h2>{{msg}}</h2>
        {% endfor %}
    </div>
</section>
</body>
</html>